.body {
    background-color: #030c11;
}

.sidebar {
    background-color: #061923;
    color: #fff;
}

.contact a {
    color: #fff;
}

.contact a:hover {
    color: #cdcdcd;
}

.right-class h4 {
    color: #acacac;
}

.right-content h5 {
    color: #00a2ff;
}

.right-content h5 a {
    color: #00a2ff;
}

.right-content h5 a:visited {
    color: #00a2ff;
}

.right-content h9,
h10 {
    color: #adadad;
}

.right-content p {
    color: #fff;
}

.right-content ul {
    color: #fff;
}

.h-link {
    color: #adadad;
}

.skill h1 {
    color: #adadad;
}

/* Icon Adjustment */
#icon-solidity {
    filter: invert(1);
}
