.mode {
    padding: 10px;
}

html * {
    transition: 0.5s;
    font-family: "JetBrains Mono", monospace;
}

.profile-img {
    max-width: 100%;
    max-height: 100%;
    padding: 100px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 50%;
}

.name {
    text-align: center;
}

.role {
    text-align: center;
    padding-bottom: 10px;
}

.contact {
    text-align: center;
    padding: 6%;
}

.contact h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.contact p {
    text-align: left;
}

.contact a {
    text-decoration: none;
    transition: 0.5s;
}

.contact ul {
    text-align: left;
    padding-left: 10%;
}

.about {
    text-align: center;
    padding: 6%;
}

.about h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.about p {
    text-align: justify;
}

.right-class {
    padding: 20px;
}

.right-class h4 {
    font-weight: 600;
}

.right-content h9,
h10 {
    font-weight: 600;
}

.right-content p {
    font-size: 14px;
}

.right-content ul {
    padding-left: 30px;
    font-size: 14px;
}

.right-content a {
    text-decoration: none;
}

.h-link {
    transition: 0.5s;
    text-decoration: none;
}

.skill {
    text-align: center;
}

.skill h5 {
    text-align: left;
}

.musescore-icon {
    content: url("/img/icons/musescore.png");
    width: 1em;
    color: #fff;
}

.download-pdf-resume {
    text-align: center;
}

.download-pdf-resume p {
    padding: 10px;
}

.download-pdf-resume a {
    text-decoration: none;
    color: #fff;
}

.download-pdf-resume a:hover {
    color: #fff;
}
