.body {
    background-color: #fff;
}

.sidebar {
    background-color: #2a97d5;
    color: #fff;
}

.contact a {
    color: #fff;
}

.contact a:hover {
    color: #cdcdcd;
}

.right-class h4 {
    color: #4d4d4d;
}

.right-content h5 {
    color: #2a97d5;
}

.right-content h5 a {
    color: #00a2ff;
}

.right-content h5 a:visited {
    color: #00a2ff;
}

.right-content h9,
h10 {
    color: #adadad;
}

.right-content p {
    color: #6d6d6d;
}

.right-content ul {
    color: #6d6d6d;
}

.h-link {
    color: #adadad;
}

.skill h1 {
    color: #adadad;
}

/* Icon Adjustment */
.mode-dial {
    transform: rotate(0deg);
}

.download-pdf-resume p {
    background-color: #2485bc;
}

.svg-pattern {
    background-color: #2a97d5;
}
